<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Computer</title>
</head>
<body>
<h1>Update computer</h1>
<form action="#" th:action="@{/updateForm}" th:object="${computer}" method="post">
    <input id="id" type="number" name="id" required>
    <input id="name" type="text" name="name" th:field="${computer.name}"/>
    <input id="nameCheckbox" type="checkbox" name="nameCheckbox">
    <input id="computerCaseModel" type="text" name="computerCaseModel" th:field="${computer.computerCaseModel}"/>
    <input id="computerCaseModelCheckbox" type="checkbox" name="computerCaseModelCheckbox">
    <input id="submit" type="submit" value="Update"/>
</form>
</body>
</html>