<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Computer</title>
</head>
<body>
<div id="root">
    <h1>Update computer</h1>
    <form action="#" th:action="@{/updateForm(id=${computer.getId()})}" th:object="${computer}" method="post">
        <input id="name" type="text" name="name" th:field="${computer.name}" required/>
        <input id="computerCaseModel" type="text" name="computerCaseModel" th:field="${computer.computerCaseModel}" required/>
        <input id="submit" type="submit" value="Update"/>
    </form>
    <form action="/view/all">
        <input id="cancel" type="submit" value="Cancel">
    </form>
</div>
</body>
</html>