<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Computers</title>
    <base th:href="@{http://localhost:8082/}">
</head>
<body>
<div id="root">
    <h1>All my computers:</h1>
    <a th:href="@{addForm}">Add computer</a>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Computer case model</td>
        </tr>
        <tr th:each="computer : ${computers}">
            <td th:text="${computer.id}"></td>
            <td th:text="${computer.name}"></td>
            <td th:text="${computer.computerCaseModel}"></td>
            <td>
                <a th:href="@{updateForm/{id}(id=${computer.id})}">edit</a>
                <a th:href="@{deleteForm/{id}(id=${computer.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>